

    
    h1 
	{color: black;
     text-align: center;
     font-size: 70px;
     text-shadow: 2px 2px 5px white;
	 margin: 10px;
	 background: linear-gradient(to bottom right, blue, red);
        
    }
    
     
     
     
     
